!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пост</title>
</head>
<body>
    <h1>Добавить новый пост</h1>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form action="/add_post" method="POST">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" required><br>
        
        <label for="category">Категория:</label><br>
        <select id="category" name="category" required>
            <option value="">Выберите категорию</option>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select><br>
        
        <label for="content">Содержимое:</label><br>
        <textarea id="content" name="content" required></textarea><br>
        
        <input type="submit" value="Добавить пост">
    </form>
    <a href="/">На главную</a>
</body>
</html>